<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SPI</title>
    <style media="screen">

    </style>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SPI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{% else %}disabled{% endif %}" routerLink="register" routerLinkActive="active">
                Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sing-in</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

    <div class="">
      <h1>imagen aqui</h1>
    </div>

    <div>
      <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
          <ul class="navbar-nav m-auto">
            <li class="nav-item {% if request.path == '/' %}active{% else %}disabled{% endif %}">
              <a class="nav-link mx-lg-5 mx-3" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-5 mx-3" href="#">Cursos Presenciales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-5 mx-3" href="#">Cursos Online</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-5 mx-3" href="#">Maquinados</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- Contenido Cambiante-->
    <router-outlet></router-outlet>
  </body>
</html>
