<div class="container-sm mt-5" [hidden]="submitted">
  <div class="row justify-content-center">
    <div class="col-5">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" id="userName" name="userName" placeholder="Luis95"
            [(ngModel)]="user.username" #userName="ngModel"
            required pattern="(?!.*(.)\1{2,})(?!.*(012|123|234|345|456|567|678|789|987|876|765|654|543|432|321|210))([A-Za-z\d]){6,15}">
          <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
              class="alert alert-danger">
              <div *ngIf="userName.errors.required">
                User Name is required.
              </div>
              <div *ngIf="userName.errors.pattern">
                <div id="alertValidations">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <p>Must contain at least</p>
                  <ul>
                    <li>6-15 characters</li>
                    <li>No more than 2 successive numbers example: (123 or 789)</li>
                    <li>No more than 2 repeated characters example: (111 or aaa)</li>
                    <li>No special characters ($%*&@!"'.,áéÁÉ)</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com"
            name="email" [(ngModel)]="user.email" #email="ngModel" required
            pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="alert alert-danger">
                <div *ngIf="email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="email.errors.pattern">
                  Invalid email
                </div>
            </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password"
            [(ngModel)]="user.password" #password="ngModel" required
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?!.*(.)\1{2,})(?!.*(012|123|234|345|456|567|678|789|987|876|765|654|543|432|321|210))([A-Za-z\d]){8,15}">
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.pattern">
              <div id="alertValidations">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p>Must contain at least</p>
                <ul>
                  <li>One number</li>
                  <li>One uppercase letter</li>
                  <li>One lowercase letter</li>
                  <li>8-15 characters</li>
                  <li>No more than 2 successive numbers example: (123 or 789)</li>
                  <li>No more than 2 repeated characters example: (111 or aaa)</li>
                  <li>No special characters ($%*&@!"'.,áéÁÉ)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="repeatPassword">Repeat Password</label>
          <input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
          [(ngModel)]="user.password2" #repeatPassword="ngModel" required pattern="{{password.value}}">
          <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)"
              class="alert alert-danger">
            <div *ngIf="repeatPassword.errors.required">
              Confirm the password.
            </div>
            <div *ngIf="repeatPassword.errors.pattern">
              Password don't match.
            </div>
          </div>
        </div>
        <div class="text-right">
          <button type="submit" *ngIf="password.valid && repeatPassword.valid && email.valid && userName.valid"
          class="btn btn-success btn-sm mx-3">Register</button>
          <button type="submit" *ngIf="password.invalid || repeatPassword.invalid || email.invalid || userName.invalid"
          class="btn btn-success btn-sm mx-3" disabled>Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row justify-content-center" [hidden]="!submitted">
  <div class="text-center mt-5 py-4 bg-light rounded-pill border border-info" style="width: 400px;">
    <h4>You Register Successfully!</h4>
    <a class="btn btn-success btn-sm mt-3" href="user/login">Login</a>
  </div>
</div>
